#container {
    background-color: aliceblue;
    max-width: 1024px;
    margin: auto;
}

.header {
    border: 5px solid grey;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 20px;
}

.slideshow {
    margin: 20px;
    padding: 20px;
    border: 5px solid grey;
    text-align: center;
}

.content {
    display: flex;
}

.content1 {
    margin: 20px;
    padding: 30px;
    flex: 3 1;
    text-align: center;
    border: 5px solid grey;
}

.sidebar {
    margin: 20px;
    flex: 1 3;
    text-align: center;
    border: 5px solid grey;
}

.footer {
    border: 5px solid grey;
    text-align: center;
    margin: 20px;
}