#mydiv {
    background-color: aqua;
    border: 2px solid black;
    width: 200px;
}

#mydiv1 {
    border: 2px solid black;
    background-image: url(../img/bg2.jpg);
    background-size: 100% 100%;
    margin: 20px;
    padding: 15px;
}

#mydiv2 {
    border: 2px solid aqua;
    background-image: url(../img/logo.jpg);
    background-repeat: -x;
    margin: 20px;
    padding: 15px;
    color: blue;
}

.container {
    display: flex;
}

.container div {
    flex: 1;
}

#hw1a {
    border: 8px solid black;
    margin-left: -20px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 130px;
    padding-left: 60px;
    padding-bottom: 50px;
}

#h1 {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    margin-bottom: 5px;
    letter-spacing: 5px;
}

#p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    margin-top: 20px;
}

#hw1b {
    background-image: url(../img/hw1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -10px;
}

#hw2a {
    border: 8px solid black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    margin: auto;
    width: 50%;
    margin-bottom: 100px;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

#hw2b {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#hw2h1 {
    padding-top: 30px;
    font-size: 20px;
}

#hw2p1 {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
}

#hw2c {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#hw2h2 {
    padding-top: 30px;
    font-size: 20px;
}

#hw2p2 {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
}

#hw2d {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#hw2h3 {
    padding-top: 30px;
    font-size: 20px;
}

#hw2p3 {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
}

#hw3a {
    flex: 1.5 1;
    background-image: url(../img/hw3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#hw3b {
    border: 8px solid black;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    padding-right: 50px;
    margin-right: -20px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 120px;
    font-size: 13px;
}

#hw3h1 {
    font-size: 50px;
}

#hw3p1 {
    font-size: 19px;
}

#hw3p2 {
    font-size: 19px;
}

#hw3p3 {
    font-size: 19px;
}

#body4 {
    background-color: black;
}

#hw4a {
    margin-top: 30px;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    margin-left: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-align: center;
    padding-top: 110px;
    padding-left: 110px;
    padding-right: 110px;
}

#hw4h1 {
    color: white;
    font-style: italic;
    font-weight: 400;
}

#hw4p1 {
    color: white;
    font-weight: 100;

}

#hw4p2 {
    color: white;
    font-weight: 100;
}

#hw4b {
    margin-top: 30px;
    border-right: 2px solid white;
    margin-right: 50px;
    text-align: center;
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 110px;
}

.contain {
    display: flex;
    margin-top: 100px;
}

.contain div {
    flex: 1 1;
}

#hw5a {
    flex: 2 1;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    text-align: left;
    margin-top: -40px;
    padding-left: 100px;
    padding-right: 100px;
}


#hw5b {
    color: white;
    border-bottom: 2px solid white;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 40px;
    padding-left: 20px;
}

#hw5c {
    color: white;
    border-bottom: 2px solid white;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 40px;
}

#hw5d {
    color: white;
    border-bottom: 2px solid white;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    margin-right: 40px;
}

#hw5h1 {
    font-weight: 400;
}

#span1 {
    font-weight: 300;
    font-style: italic;
}

#hw5h2 {
    font-weight: 300;
    font-size: 40px;
}

#hw5h3 {
    font-weight: 300;
    font-size: 40px;
}

#hw5h4 {
    font-weight: 300;
    font-size: 40px;
}

#hw5p1 {
    font-weight: 200;
    font-size: 25px;
    padding-right: 2px;
}

#hw5p2 {
    font-weight: 200;
    font-size: 25px;
    padding-right: 2px;
}

#hw5p3 {
    font-weight: 200;
    font-size: 25px;
}