.top h1 {
    bottom: 10%;
    left: 10%;
    -webkit-text-stroke: 1.5px black;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

h4 {
    font-size: 36px;
}

li {
    font-size: 32px;
}

@media screen and (max-width: 800px) {
    .top h1 {
        font-size: 40px;
    }

    .travel {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    h4 {
        font-size: 28px;
    }

    li {
        font-size: 24px;
    }
}