.left {
    width: 50%;
}

.right {
    width: 50%;
}

li {
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .travel {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    li {
        font-size: 12px;
    }
}