.top h1 {
    bottom: 10%;
    left: 10%;
    -webkit-text-stroke: 1.5px black;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

@media screen and (max-width: 800px) {

    .travel {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}