.head img {
    width: 100%;
}

.content1 {
    padding: 5% 10%;
}

.people {
    width: 100%;
}

.content2 {
    display: flex;
    margin: auto;
    padding-bottom: 5%;
}

.content2 img {
    width: 100%;
}

.content2 div {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.food {
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    color: white;
}

@media screen and (max-width:991px) {

    .head h1 {
        font-size: 40px;
    }

    .content1 h2 {
        font-size: 28px;
    }

    .content1 p {
        font-size: 24px;
    }

    .content2 {
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
    }

    .content2 div {
        width: 100%;
        margin: auto;
        margin-bottom: 10%;
    }
}