.head img {
    width: 100%;
}

.content1 {
    background-color: rgba(70, 181, 209, 0.5);
}

.content2 {
    background-color: rgba(70, 181, 209);
}


.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content div {
    width: 45%;
}

.content img {
    width: 100%;
}

.place {
    padding-bottom: 2%;
    padding-top: 2%;
}

@media screen and (max-width: 991px) {
    .content h2 {
        text-align: center;
    }

    .content p {
        padding-left: 5%;
    }

    .content {
        flex-direction: column;
    }

    .content div {
        width: 100%;
    }

    .text {
        order: 2;
    }

    .sky {
        order: 2;
    }

    .pic {
        order: 1;
    }
}