.box {
    border: #515585 35px solid;
}

.contactway div {
    width: 30%;
    border: 2px solid #515585;
}

.contact {
    color: black;
}

@media screen and (max-width:992px) {
    .contactway {
        flex-direction: column;
    }

    .contactway div {
        width: 100%;
    }
}