h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 32px !important;
}

h4 {
    font-size: 26px !important;
}

p {
    font-size: 20px !important;
}

.dropdown-menu,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #1C2331 !important;
    color: wheat !important;
}

a:focus {
    color: white !important;
}

.header {
    background-color: #151965;
}

.header a {
    color: white;
    font-size: 24px;
}

.header a:hover {
    color: wheat;
}

.head h1 {
    font-size: 64px;
    bottom: 10%;
    left: 10%;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
}

.footer {
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: #151965;
}

.footer1 {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid white;
    padding-bottom: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
}

.footer1 a {
    text-decoration: none;
    color: white;
}

.footer1 p {
    font-size: 24px;
}

.copyright {
    margin-left: 10%;
}

@media screen and (max-width: 992px) {

    .navbar-brand img {
        width: 50%;
    }

    .footer {
        padding-top: 10%;
    }

    .footer1 p {
        font-size: 20px;
    }

    .footer1 {
        margin-top: 5%;
        flex-direction: column;
        justify-content: center;
    }

    .footer1 div {
        padding-bottom: 5%;
        margin-left: 5%;
    }

    .copyright {
        margin-left: 5%;
        padding-bottom: 2%;
    }

    h1 {
        font-size: 40px !important;
    }
}