.head img {
    width: 100%;
}

.content {
    background-color: #515585;
    color: black;
}

.content2 {
    display: flex;
    margin: auto;
    padding-bottom: 5%;
}

.content2 img {
    width: 100%;
}

.content2 div {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.place {
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    color: white;
}

.days {
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
}

@media screen and (max-width:991px) {
    .content2 {
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
    }

    .content2 div {
        width: 100%;
        margin: auto;
        margin-bottom: 10%;
    }
}